*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.first{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(47,150,163),rgb(48,62,143));
    font-family: sans-serif;
    color: white;
    flex-direction: column; 
}

.location,.temperature,.search{
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.search{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
.city{
      height: 10vh;
      width: 20vw;
      border-radius: 5%;
      font-size: 20px;
}
.btn{
    height: 10vh;
    cursor: pointer;
}

/* .precipitation{
 padding-top: 10vh;
} */
.precipitation,.humidity,.wind,.uv-index{
    width: 50%;
    display: flex;
    width: 50vh;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
    padding-bottom: 2vh;
    border: 2px solid black;
    height: 50vh;
    /* background: linear-gradient(rgb(39, 56, 152,0.2),rgb(51, 49, 193,0.7)); */
    background-color: rgb(0 0 0 / .30);
    font-family: sans-serif;
    color: white;
    border-radius: 5%;
    flex-direction: column;
    padding: 10vh 0 10vh 0;
}
i{
    font-size: 18vh;
}
.second{
    height: 180vh;
    background: linear-gradient(rgb(48,62,143),rgb(29, 26, 190));
}
.conditions1{
    display: flex;
    justify-content: space-around;
}
.conditions2{
    display: flex;
    margin-top: 2vh;
    justify-content: space-around;
}

.pressure,.visibility,.sunrise,.sunset{
    width: 50%;
    display: flex;
    width: 50vh;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
    padding-bottom: 2vh;
    border: 2px solid black;
    height: 50vh;
    /* background: linear-gradient(rgb(39, 56, 152,0.2),rgb(51, 49, 193,0.7)); */
    background-color: rgb(0 0 0 / .30);
    font-family: sans-serif;
    color: white;
    border-radius: 5%;
    flex-direction: column;
    padding: 10vh 0 10vh 0;
}

.daily{
    display: flex;
    margin-top: 2vh;
    justify-content: space-around;
    align-items: center;
}
#forecast{
    font-family: sans-serif;
    color: white;
    padding: 5vh 10vh 5vh 10vh;
}
.days,.days2{
    width: 50%;
    display: flex;
    width: 50vh;
    justify-content: space-between; 
    align-items: center;
    font-size: larger;
    /* padding-bottom: 2vh; */
    border: 2px solid black;
    height: 50vh;
    /* background: linear-gradient(rgb(39, 56, 152,0.2),rgb(51, 49, 193,0.7)); */
    background-color: rgb(0 0 0 / .30);
    font-family: sans-serif;
    color: white;
    border-radius: 5%;
    flex-direction: column;
    padding: 2vh 0 2vh 0; 
}
.fortempandicon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 50vh;
}


.temperature{
    height: 15vh;
    flex-direction: row;
}
.degree-section{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.degree-section span{
    margin: 10px;
    font-size: 30px;
}
.degree-section h2{
    font-size: 40px;
}
.feelslike{
    padding-bottom: 8vh;
    font-size: smaller;
}
.slide1{
    height: 8vh;
   /* padding: 3vh 0 0 1vw; */
   text-align: center;
   padding-top: 2.3vh;
   border-radius: 5%;
   background-color: rgb(0 0 0 / .30);
   border: 2px solid black;
   color: white;
   width: 3vw;
   cursor: pointer;
}
.slide2{
   height: 8vh;
   /* padding: 3vh 0 0 1vw; */
   text-align: center;
   padding-top: 2.3vh;
   border-radius: 5%;
   background-color: rgb(0 0 0 / .30);
   border: 2px solid black;
   color: white;
   width: 3vw;
   cursor: pointer;
}
.firstslot{
    display: flex;
    align-items: center;
}
.secondslot{
    align-items: center;
}