*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background:linear-gradient(to right top,#65dfc9,#6cdbeb); */
    /* background:url(clearsky.jpg) ; 
    /* background:url(partlycloudy.jpg) ;
    background: url(cloudy.jpg);
    background:url(rainsky.jpg!w700wp) ;
    background:url(nightsky.jpg) ; */
    /* background: url(cloudynight.avif); */
    /* background: url(snowsky.avif); */
    /* background:url(clearsky.jpg); */
    background-size: contain;
    background-repeat: no-repeat;
}
.first{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
     background: linear-gradient(rgb(47,150,163),rgb(48,62,143)); 
    font-family: sans-serif;
    color: white;
    flex-direction: column; 
     /* background:url(fog1.jpg);  */
    background-size: cover;
    background-repeat: no-repeat;
     /* box-shadow: inset 0px -20px 20px 0px rgb(49, 85, 138);  */
}
.location,.temperature,.search{
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.search{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
.city{
      height: 10vh;
      width: 20vw;
      border-radius: 5%;
      font-size: 20px;
      background-color: rgba(0,0,0,0.7);
      color: white;
}
.btn{
    height: 10vh;
    cursor: pointer;
    background-color: black;
    color: white;
}

/* .precipitation{
 padding-top: 10vh;
} */
.precipitation,.humidity,.wind,.uv-index{
    /* width: 50%; */
    display: flex;
    width: 50vh;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
    padding-bottom: 2vh;
    border: 2px solid black;
    height: 50vh;
    /* background: linear-gradient(rgb(39, 56, 152,0.2),rgb(51, 49, 193,0.7)); */
    background: linear-gradient(to right bottom,rgba(255,255,255,0.7),rgba(255,255,255,0.3));
    backdrop-filter: blur(100rem); 
    font-family: sans-serif;
    color: black;
    border-radius: 5%;
    flex-direction: column;
    padding: 10vh 0 10vh 0;
}
i{
    font-size: 18vh;
    color:black
}
.second{
    height: 180vh;
    /* max-width: 100vw; */
    background: linear-gradient(rgb(48,62,143),rgb(29, 26, 190)); 
     /* background:  url(fog2.jpg); */
     /* box-shadow: inset 0px 20px 20px 0px  rgb(0,0,0); */
    background-repeat: no-repeat;
    background-size: cover;
}
.conditions1{
    display: flex;
    justify-content: space-around;
}
.conditions2{
    display: flex;
    margin-top: 2vh;
    justify-content: space-around;
}

.pressure,.visibility,.sunrise,.sunset{
    width: 50%;
    display: flex;
    width: 50vh;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
    padding-bottom: 2vh;
    border: 2px solid black;
    height: 50vh;
    /* background: linear-gradient(rgb(39, 56, 152,0.2),rgb(51, 49, 193,0.7)); */
    background: linear-gradient(to right bottom,rgba(255,255,255,0.7),rgba(255,255,255,0.3));
    backdrop-filter: blur(100rem); 
    font-family: sans-serif;
    color: black;
    border-radius: 5%;
    flex-direction: column;
    padding: 10vh 0 10vh 0;
}

.daily{
    display: flex;
    margin-top: 2vh;
    justify-content: space-between;
    align-items: center;
}
#forecast{
    font-family: sans-serif;
    color: white;
    padding: 5vh 10vh 5vh 10vh;
}
.days,.days2{
    /* width: 50%; */
    display: flex;
    width: 50vh;
    justify-content: space-between; 
    align-items: center;
    font-size: larger;
    /* padding-bottom: 2vh; */
    border: 2px solid black;
    height: 50vh;
    /* background: linear-gradient(rgb(39, 56, 152,0.2),rgb(51, 49, 193,0.7)); */
    background: linear-gradient(to right bottom,rgba(255,255,255,0.3),rgba(255,255,255,0.3));
    backdrop-filter: blur(100rem); 
    font-family: sans-serif;
    color: white;
    border-radius: 5%;
    flex-direction: column;
    padding: 2vh 0 2vh 0; 
}
.fortempandicon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* width: 50vh; */
}


.temperature{
    height: 15vh;
    flex-direction: row;
}
.degree-section{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.degree-section span{
    margin: 10px;
    font-size: 15rem;
}
.degree-section h2{
    font-size: 40px;
}
.feelslike{
    padding-bottom: 8vh;
    font-size: smaller;
}
.slide1{
    height: 8vh;
   /* padding: 3vh 0 0 1vw; */
   text-align: center;
   padding-top: 2.3vh;
   border-radius: 5%;
   background-color: rgb(0 0 0 / .30);
   border: 2px solid black;
   color: white;
   width: 8vh;
   cursor: pointer;
}
.slide2{
   height: 8vh;
   /* padding: 3vh 0 0 1vw; */
   text-align: center;
   padding-top: 1rem;
   border-radius: 5%;
   background-color: rgb(0 0 0 / .30);
   border: 2px solid black;
   color: white;
   width: 8vh;
   cursor: pointer;
}

.firstslot{
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: space-around

}
.secondslot{
    align-items: center;
    /* max-width: 100vw; */
    width: 100vw;
    justify-content: space-around;
}
@media screen and (max-width:1020px) {
    canvas,.first h1,.first h2,.cooler,.hotter{
        font-size: small;
    }
   .first h3{
    font-size: small;
   } 
   .search{
    margin-top: 10rem;
   }
   #forecast{
    text-align: center;
   }
   .city{
    width:auto ;
   }
.degree-section h2{
        padding-left: 1.5rem;
        font-size: small;
        
    }
    .first,.second{
        width: 60vh;
        height: fit-content;
          overflow-x: hidden; 
          overflow-y: scroll;  
        
    }
    .conditions1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .conditions2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .daily{
        flex-direction: column;
    }
    .firstslot{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .secondslot{
        flex-direction: column;
        align-items: center;
    }
}